<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container">
    <form th:action="@{/books/{uid}(uid = ${book.id})}" th:method="post">
        <div class="form-group">
            <p><label for="name">제목</label>
                <input type="text" id="name" name="name" th:value="${book.name}" placeholder="제목을 입력하세요">
            </p>
            <p><label for="publisher">저자</label>
                <input type="text" id="publisher" name="publisher" th:value="${book.publisher}" placeholder="저자를 입력하세요">
            </p>
            <p><label for="price">가격</label>
                <input type="text" id="price" name="price" th:value="${book.price}" placeholder="가격을 입력하세요">
            </p>
        </div>
        <button type="submit">수정</button>
    </form>
</div> <!-- /container -->
</body>
</html>